<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header with Dropdown</title>
    <link rel="stylesheet" href="/css/fheader.css">
    
   
</head>
<body>

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="#"><img src="img/logo.png" alt="Logo"></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="./shop.html">Shop</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <% if (user) { %>
                        <div class="dropdown">
                            <a href="#" class="sign-in-link"><%= user.name %></a>
                            <div class="dropdown-content">
                                <a href="/userProfile">Profile</a>
                                <a href="/logout">Logout</a>
                            </div>
                        </div>
                    <% } else { %>
                        <a href="/signup" class="sign-in-link" style="color: black;">Sign up</a>
                        <a href="/login" class="sign-in-link" style="color: black;">Log in</a>
                    <% } %>
                    <a href="#" class="search-switch"><img src="img/icon/search.png" alt="Search"></a>
                    <a href="#"><img src="img/icon/heart.png" alt="Heart"></a>
                    <a href="#"><img src="img/icon/cart.png" alt="Cart"> <span>0</span></a>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>

</body>
</html>
