<%- include("../../views/partials/admin/header") %>
<section class="content-main">
<div class="content-header">
<div>
<h2 class="content-title card-title">Dashboard </h2>
</div>
</div>
</section>
<%- include("../../views/partials/admin/footer") %>