<%- include("../../views/partials/admin/header") %>

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    </head>
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products</h2>
        </div>
    </div>
    <header class="card-header text-center mb-20">
        <form action="" method="get" class="d-inline">
            <div class="input-group input-group-sm border border-1 border-grey rounded-pill"
                style="width: 500px; margin-left: 230px;">
                <input type="text" class="form-control border-0 rounded-pill" placeholder="Search
products or brands" name="search">
                <button class="btn border-0" type="submit">Search</button>
            </div>
        </form>
    </header>
    <div class="right mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"><b>Product name</b></th>
                    <th scope="col"><b>Brand</b></th>
                    <th scope="col"><b>Category</b></th>
                    <th scope="col"><b>Sale Price</b></th>
                    <th scope="col"><b>Offer Price</b></th>
                    <th scope="col"><b>Offer</b></th>
                    <th scope="col"><b>Quantity</b></th>
                    <th scope="col"><b>Action</b></th>
                    <th scope="col"><b>Edit</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                    </td>
                    <td>
                        <button class="btn btn-info" onclick="" style="width: 100px;">
                            <a href="#" class="text-white">Add Offer</a>
                        </button>
                        <button class="btn btn-info" onclick="" style="width: 100px;">
                            <a href="#" class="text-white">Remove</a>
                        </button>
                    </td>
                    <td></td>
                    <td>
                        <button class="btn btn-danger" style="width: 80px;">
                            <a href="" class="text-white" style="text-decoration: none;">Block</a>
                        </button>
                        <button class="btn btn-success" style="width: 80px;">
                            <a href="" class="text-white" style="text-decoration: none;">Unblock</a>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-info" style="width: 80px;">
                            <a href="" class="text-white" style="text-decoration: none;">Edit</a>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    <div class="container mt-3">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <%- include("../../views/partials/admin/footer") %>

    