<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
  <title>Login</title>
</head>
<body>
  <main class="login">
    <div class="login__container">
      <div class="login__image">
        <img src="https://media.istockphoto.com/id/648366374/photo/handsome-traveler.jpg?s=612x612&w=0&k=20&c=LWiJBBBxEaWuwh9hLDNOYaZbJBO69nlUBu8bsPlycP8=" alt="Login">
      </div>
      <div class="login__form">
        <h2 class="login__title">Login</h2>
        <% if (message) { %>
          <div class="alert alert-danger text-center" style="color: red;"><%= message %></div>
        <% } %>
        <form action="/login" method="post">
          <label>
            <div class="label">Email address</div>
            <input type="email" name="email" placeholder="Enter Email" required>
          </label>
          <label>
            <div class="label">Password</div>
            <input type="password" name="password" placeholder="Enter Password" required>
          </label>
          <div class="submit">
            <button type="submit" class="submit__btn">Login</button>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>
</html>
