<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/signup.css">
  <title>Sign Up</title>
</head>
<body>
  <main class="signup">
    <div class="signup__container">
      <div class="signup__image">
        <img src="https://img.freepik.com/free-photo/young-child-enjoying-childhood-happiness-by-playing-puddle-water-after-rain_23-2151470075.jpg?size=626&ext=jpg&ga=GA1.1.1141335507.1718236800&semt=ais_user" alt="Signup">
      </div>
      <div class="signup__form">
        <h2 class="signup__title">Sign Up</h2>
        <form>
          <label>
            <div class="label">Name</div>
            <input type="text" placeholder="John Doe" required>
          </label>
          <label>
            <div class="label">Email address</div>
            <input type="email" placeholder="john@doe.com" required>
          </label>
          <label>
            <div class="label">Phone number</div>
            <input type="text" placeholder="123-456-7890" required>
          </label>
          <label>
            <div class="label">Password</div>
            <input type="password" placeholder="*********" required>
          </label>
          <label>
            <div class="label">Confirm password</div>
            <input type="password" placeholder="*********" required>
          </label>
          <div class="submit">
            <button type="submit" class="submit__btn">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>
</html>
