<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Men Fashion</title>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="">
<meta property="og:type" content="">
<meta property="og:url" content="">
<meta property="og:image" content="">
<link rel="shortcut icon" type="image/x-icon" href="#">
<link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
<script src="https://kit.fontawesome.com/16d4885483.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<style>
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #8da7ab;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .col-nav {
    display: flex;
    align-items: center;
}
.navbar .col-nav .nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar .col-nav .nav .dropdown {
    position: relative;
}
.navbar .col-nav .nav .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
}
.navbar .col-nav .nav .dropdown-menu .dropdown-item {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}
.navbar .col-nav .nav .dropdown-menu .dropdown-item:hover {
    background-color: #f4f4f4;
}
.navbar .col-nav .nav .dropdown:hover .dropdown-menu {
    display: block;
}
.navbar-aside {
    background-color: #b0d5de;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
}
.navbar-aside .brand-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.navbar-aside .brand-wrap .logo {
    width: 100px;
}
.menu-aside {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-aside .menu-item {
    margin-bottom: 10px;
}
.menu-aside .menu-item a.menu-link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    color: #310505;
    background-color: #aed7da;
    border-radius: 4px;
}
.menu-aside .menu-item a.menu-link:hover,
.menu-aside .menu-item a.menu-link.active {
    background-color: #000505;
    color: #ffffff;
}
.menu-aside .menu-item a.menu-link i.icon {
    margin-right: 10px;
}
.main-wrap {
    margin-left: 250px;
    padding: 20px;
}
.card{
    margin-left: 250px;
}
.mt-5{
    margin-left: 300px;
}
.content-header{
    margin-left: 250px;
}
.mb-20{
    margin-left: 40px;
    padding: 1.3rem 1.3rem;
    margin-bottom: 20px !important;
    height: 90px;
}

/* Light Mode (default) */


/*
body {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .card-header,
.dark-mode .table,
.dark-mode .pagination .page-link {
    background-color: #1f1f1f;
    border-color: #444;
}

.dark-mode .form-control,
.dark-mode .btn {
    background-color: #333;
    color: white;
}

.dark-mode a {
    color: #bb86fc;
}

.dark-mode .btn-danger {
    background-color: #cf6679;
}

.dark-mode .btn-success {
    background-color: #03dac6;
}
.img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    
}
*/


</style>
</head>
<body>
<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="#" class="brand-wrap">
            <img src="/img/logo.png" class="logo" alt="Men Fashion Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize">
                <i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="/admin">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/user">
                    <i class="icon material-icons md-person"></i>
                    <span class="text">Customers</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/category">
                    <i class="icon material-icons md-person"></i>
                    <span class="text">Category</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/brands">
                    <i class="icon material-icons md-stars"></i>
                    <span class="text">Brands</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/addProducts">
                    <i class="icon material-icons md-add_box"></i>
                    <span class="text">Add product</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/products">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/coupon">
                    <i class="icon material-icons md-class"></i>
                    <span class="text">Coupon</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/banner">
                    <i class="icon material-icons md-photo_size_select_actual"></i>
                    <span class="text">Banner</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/orderList">
                    <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>
<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">
            <!-- Search bar or other elements can go here -->
        </div>
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside">
                <i class="material-icons md-apps"></i>
            </button>
            <ul class="nav">
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
                        <img class="img-xs rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKJQp8ndvEkIa-u1rMgJxVc7BBsR11uSLHGA&s" alt="User">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="admin/logout">
                            <i class="material-icons md-exit_to_app"></i>Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
</main>
</body>
</html>
